body {
  position: relative;
  font-family: "Montserrat";
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat-bold";
}


p {
  color: #8f8f8f;
}


nav a:hover {
  color: #e2c275;
}


/* Headings */


#top {
height: 1200px;
}


.big-heading {
  font-family:"Roboto Mono";
  font-size: 3.1rem;
  line-height: 1;
  padding-top: 200px;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}


/* navbar */


.navbar {
padding: 0 0;
}


.nav-item {
  padding: 0 18px;
}


.nav-link {
  font-family:"Roboto Mono";
  font-size: 1.2rem

}


.navbar-brand {
  color: black;
  font-weight: bold;
  font-family:"Roboto Mono";
  font-size: 2.5rem;
}


.header {
  position: relative;
}


/* Containers */


.container-fluid {
  padding: 7% 15%;
}


/* Sectionss */


.colored-section {
  background-color: #e9e5dd;
}


.white-section {
  background-color: #fff;
}


/* title section */


.title {
  position: absolute;
  right: 800px;
  top: 300px;
}


#top .container-fluid {
  padding: 3% 15% 7%;
}

/* download buttons */


.download-button {
  margin: 5% 3% 5% 0;

}

/* header image */


.header-img {
  width: 550px;
  height: 550px;
  padding-top: 10%;
  position: absolute;
  left: 700px;
  top: 200px;

}


/* features section */

.feature-title {
  font-size: 1.5rem;
}


.feature-box {
  padding: 5%;
}


.icon {
  color: #e2c275;
  margin-bottom: 1rem;
}


.icon:hover {
  color: #f6ecbf;
}


/* testimonial section */

#testimonials {
  color: #fff;
}


.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 20px;
}


.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}


#press {
  padding-bottom: 3%;
}


.press-logo {
  width: 15%;
  margin: 20px 20px;
}

/* pricing section */

#pricing {
  padding: 100px;
}


.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}


/* CTA section */


.cta-heading {
  font-family:"Roboto Mono";
  font-size: 3.5rem;
  line-height: 1;
}

/* footer */

.media-icon {
  margin: 20px 10px;
  color: #e2c275;
}



/* @media query */

@media (max-width: 1540px) {
  .header-img {
    position: static;
    width: 90%;
    height: 90%;
    margin-top: 100px;
  }
}


  @media (max-width: 1540px) {

  .title {
    text-align: center;
    position: static;
  }
}
